{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title"> Name : {{ticket.firstname}} {{ticket.lastname}}</h2>
        <h3 class = "card-title">Subject : {{ticket.subject}}</h3>
      </div>
      <div class="card-body">
        <p>{{ticket.scenario}}</p>
        <select>
            <option>denem1</option>
            <option>denem2</option>
        </select>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
